//Arquivo que contém as variáveis de cores do projeto.
$cor-background: #282A36;
$cor-background-input: #fff;
$cor-bordas: #000;
$cor-botoes: #FF5555;
$cor-cards-impares: #FF5555;
$cor-cards-pares: #6272A4;
$cor-fontes-botoes: #000;
$cor-fontes-geral: #f5f5f5;
